.avatar-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
} 

.avatar-image {
    width: 40px; 
    height: 40px;
    border-radius: 50%;
    object-fit: cover; 
    margin-right: 10px;
}

.avatar-profile h3{
    font-size: medium;
    margin-top: 6px;
}